*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  align-content: center;
  opacity: 70%;
}

.hero {
  background-color: #1B1A17;
}

.nav-item {
  text-align: right;
}

.container-fluid {
  background-color: #B5EAEA;
}

.btn {
  background-color: #F38BA0;
  padding: 0 1em;
}