*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

/* Hero */

#title .coloured-section {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  align-content: center;
  opacity: 70%;
}
.row {
  display: flex;
  flex-direction: row;
}

.hero {
  background-color: #006666;
  background-image:
    linear-gradient(
      to bottom, 
    #006666, #fff
    );
  color: fff;
}

.title-image {
  width: 150px;
  margin: 1rem;
}

/* Nav bar */

.navbar {
  padding: 0 0 4.5rem;
}

.nav-link {
  font-size: 1.2rem;
  color: #006666;
}

.container h1 {
  color: #006666;
}
.container h1:hover {
  color: #fff;
}

/* About section */

.big-heading {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.about h1 {
  color: #006666;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
      }

  @media (min-width: 768px) {
  .bd-placeholder-img-lg {
  font-size: 3.5rem;
        }
      }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}